numpy
numba
numba-progress
matplotlib
scipy
numba-scipy

# Improved backend (better than TkInter) for matplotlib.
# Optional, comment out when install is problematic.
pyqt5

# OpenSimplex noise
opensimplex-loops

# Dev
pylint
black
ipython